{% extends 'base.html.twig' %}

{% block title %}Semaines cours{% endblock %}

{% block body %}
    <h1 class="mb-5 mt-3 text-center">Semaines</h1>

    {% include 'semaine/liste.html.twig' with {'semaines': semaines} %}


    <h2>Ajouter une semaine de cours</h2>
    <div class="form">
        {{form(ajout)}}
    </div>

{% endblock %}
