{% extends 'base.html.twig' %}

{% block title %}Semaines cours{% endblock %}

{% block body %}
    <h1 class="mb-5 mt-3 text-center">Semaines</h1>

    <h3 class="mb-3 mt-3 ml-2">Tous les cours :</h3>

    {% include 'semaine/liste.html.twig' with {'semaines': semaines} %}

{% if is_granted('ROLE_USER') %}
    <h2>Ajouter une semaine de cours</h2>
    <div class="form">
        {{form(ajout)}}
    </div>
{% endif %}

{% endblock %}
