{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}

    <h1>Modules</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Nom</th>

            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
                <tr>
                    <td>
                        <a href="{{path('show_categorie')}}">
                            {{module.nom}}
                        </a>
                    </td>
                <tr>
            {% else %}
                <tr>
                    <td colspan="2">Il n'y a pas de modules</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Ajouter un module</h2>
    {{ form(ajout) }}

{% endblock %}
