{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="text-center mt-3 mb-5">Module : {{module.nom}}</h1>

	<h3 class="ml-2 mb-3">Liste des modules :</h3>
	{% include 'semaine/liste.html.twig' with {'semaines': module.semaines} %}

{% endblock %}