<table border="1">
	<thead>
		<tr>
			<th>Elève</th>
			<th>Note</th>
			<th>Commentaire</th>
            <th>Semaine</th>
		</tr>
	</thead>
	<tbody>
	{% for notation in notations %}
		<tr>
			<td>{{notation.eleve}}</td>
            <td>{{notation.note}}</td>
            <td>{{notation.commentaire}}</td>
            <td>{{notation.semaine.titre}}</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="5">Il n'y a aucune notation pour ce cours</td>
		</tr>
	{% endfor %}
	</tbody>
</table>